@import "cofig";

//global styling

*{
box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  width: 100%;
  padding: 0 4rem;
  max-width: 1100px;
}

.heading{
  font-family: $heading-font;
  color : $heading-font;
}

.text{
  font-family: $p-font;
  color : $p-font;
  margin-bottom: 3rem;
}

section{
  text-align: center;
  margin: auto;

}
.section-content{
  max-width: 35rem;
  margin: 7rem 0;
  width: 100%;
}

.lines{
  margin-top: 2rem;

  .square{
    margin: .2rem 0;
  }
  .line1{
    border: .1rem solid $primary-color;
    width: 4rem;
    height: .1rem;
    margin: .2rem 0;
  }

  .line2{
    border: .1rem solid $primary-color;
    width: 2rem;
    height: .1rem;
    margin: .2rem 0;

  }
}


.square{
  width: .8rem;
  height: .8rem;
  background-color: $primary-color;
  margin: 1rem 0;
}


.btn{
  width: 30%;
  margin: 3rem 0;
  border: 2px solid  $primary-color;
  border-radius: 2px;
  padding: .8rem 2rem;
  color: $heading-color;
  @include ease();

  &:hover{
    background-color: $primary-color;
    color: #ffffff;
  }
}

//header
header{
  width: 100%;
  height: 100vh;
  background: url("../images/background.png") center no-repeat;
  background-size: cover;



  //nav-btn
  .nav-menu-btn{
    right: 2rem;
    top: 2rem;
    position: absolute;
    cursor: pointer;
    font-size: .8rem;
    display: none;
  }

  //nav
  .nav-main-menu{
    display: flex;
    height: 60px;
    justify-content: space-between;
    max-width: 1900px;
    width: 100%;

    .logo{
      width: 15rem;
      height: 4rem;
      padding: 0 4rem;
    }

    .nav-list {
      display: flex;
      justify-content: center;
      padding: .8rem 2rem;

      li{
        padding: 0 2rem;
        display: flex;

        a{
          font-size: 1.2rem;
          color: $heading-color;
          @include ease();

          &:hover,:focus{
            color: $primary-color;

          }
        }
      }

    }

  }
}

//about section
.about{
  display: flex;
  text-align: left;
  img{
    width: 60rem;
    padding: 0;
    margin: 0;
  }

  .section-content{
    width: 100%;
    margin-top: 15rem;
  }
}

//features section
.features{
  margin-top: 5rem;
  margin-left:50%;
  transition: translateX(-50%);

  .features-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    margin-bottom: 2rem;
  }

  .btn-feature{
   padding: .8rem 6rem;
  }
}

//contact section
.contact{
  margin-top: 5rem;
  margin-bottom: 5rem;

  img{
    width: 60rem;
  }

  .contact-content{
    display: flex;
  }

  .contact-text{
    margin-top: 10rem;

    .contact-form{
      input{
        width: 80%;
        padding: .4rem .2rem;
        margin-bottom: .3rem;
        border-radius: 2px;
        border: 1px solid $primary-color;
        outline: none;
        box-sizing: border-box;
        box-shadow: none;
      }
      .buttons{
        margin-top: 1rem;
        align-items: center;
        text-align: center;
        margin-left: -1rem;

        .sign{
          padding: .3rem 1rem;
          background-color: $primary-color;
          color: #ffffff;
          transition: all .3s;

          &:hover{
            background-color: darken($primary-color, 10);
            border-color: darken($primary-color, 10);
          }
        }
        .trail{
          padding: .3rem 1rem;
        }
      }

    }
  }

}

//footer
footer{
  width: 100%;
  height: 52vh;
  background-color: #f67c92;
  position: relative;
  color: #ffffff;

  .containers{
    padding: 0 3rem;
    width: 100%;

    .footer-content{
      text-align: center;
      width: 100%;

      .header-content{
        padding: 2rem 0;

        h4{
          font-size: 2rem;
        }
      }
      .social-media .social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        i{
          padding: 0 1.3rem;
          color: #ffffff;
          margin-bottom: 1rem;
          font-size: 1.9rem;
          transition: all .8s ease-out;
          &:hover{
            color: #252525;
          }
        }
      }

      .back-to-top{
        cursor: pointer;
        background-color: #f67c92;
        top: -1.3rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }

      .back-to-top i{
        color: #ffffff;
        cursor: pointer;
        padding: .5rem 0;
        font-size: 1.2rem;

      }
      .asterisk{
        margin: 1rem 0;
      }




    }
  }

}

@media screen and (max-width: 600px){

header{
  .nav-main-menu{
    .nav-list{
      display: none;
    }

  }

  .header-content{

    .text{
      display: none;
    }
    .btn{
      margin-top: 33rem;
      position: absolute;
      align-items: center;
      justify-content: center;
      margin-left: 33%;
      width: 50%;
      transform: translateX(-33%);
      text-align: center;
    }
    .lines{
      display: none;
    }
    .square{
      display: none;
    }
    .heading{
      display: none;
    }
  }
}


  .about{
    flex-direction: column;
    text-align: center;
    img{
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
    .about-content{
      margin: 0 auto;
    }
  }

  .contact{
    .contact-content{
      flex-direction: column;

      img{
        width: 100%;
        max-width: 100%;
      }

      .contact-form{
        margin-bottom: 3rem;
      }
    }
  }

  .features{
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    .features-group{
      grid-template-columns: repeat(1,1fr);

      text-align: center;

      .feature{
        margin: 0 auto;
        padding: 0;
        text-align: center;
      }
    }
  }


  footer{
    height:auto ;
  }
}
